.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;  /* Limit the form width */
}


/*video{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;  % of surrounding element 
    top: 50%;
    transform: translate(-50%, -50%);  % of current element 
}

*/
.col-6{
    height: 100vh;
    overflow: hidden;
}
